<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>청년 AI·Big Data 아카데미 7기 B반 1조 빅데이터 프로젝트</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    <style>
      div {
        font-family: 'Do Hyeon', sans-serif;
        font-size: 23px;
      }
      p.a {
        font-weight: 400;
      }
      p.b {
        font-weight: 700;
      }
      p.c {
        font-weight: 800;
      }
      p.d {
        font-weight: bold;
      }
    </style>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active font-weight-light" href="/index" >홈</a>
            &nbsp;<a class="nav-link font-weight-light" href="https://www.airkorea.or.kr/web" target="_blank">전국미세먼지</a>
            &nbsp;<a class="nav-link font-weight-light" href="/team">팀 소개</a>
            &nbsp;<a class="nav-link font-weight-light" href="https://github.com/YEEN6/dust" target="_blank"><img src="static/images/gitlogo.png" width = "30px"></a>
          </nav>
        </div>
      </header>


      <!-- logo -->
      <main role="main" class="inner cover">
        <p><img src="static/images/maskIcon.png" class="img-fluid" alt="Responsive image"></p>
        <!-- search form -->
        <form action="{{ url_for('getLocationList') }}" name="value" method="post" >
            <div class="form-group">
                <label for="searchInput">Search</label>
                <input type="search" class="form-control" name="searchInput" id="searchInput"  aria-describedby="searchHelp" placeholder="검색어를 입력하세요">

                <small id="searchHelp" class="form-text text-muted">원하는 장소의 건물명, 도로명주소, 지번주소로 검색</small>
            </div>
            <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        </form>
          <h1 class="cover-heading" id="output"></h1>
          <p class="lead"></p>
        {% block content %} {% endblock %}
        <!-- end of logo and search form -->



        <!-- show search result page -->
        <article>
          {% block article %}  {% endblock %}
        </article>
        <!-- end of showing search reuslt page -->
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><small class="form-text text-center font-weight-light">청년 AI·Big Data 아카데미 7기 B반 1조</small></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>



    <script>
      $(document).ready(function() {
        $('form').on('submit', function() {
          $.ajax({
            data : {searchInput: $('searchInput').val()},
            datatype: 'json',
            type : 'POST',
            url : '/search'
          }).done(function(data) {
            $('#output').text(data.output).show();
          });
        });
      });
    </script>


    <script>
      $(document).ready(function(){
        $('.clickable-row').click(function(event) {
          var str = ""
          var tdArr = new Array();    // 배열 선언

          // 현재 클릭된 Row(<tr>)
          var tr = $(this);
          var td = tr.children();
          // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
          //console.log("클릭한 Row의 모든 데이터 : "+tr.text());

          // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
          td.each(function(i){
            tdArr.push(td.eq(i).text());
          });

          //console.log("배열에 담긴 값 : "+tdArr);
          var no = td.eq(1).text();

          $.ajax({
            data: {
              address: no
            },
            type: 'post',
            url: '/pass_parameter'
          }).done(function (data) {
            //window.location.replace('/info');
            $('#output').text(data.output).show();
          });
          event.preventDefault();
        });
      });
    </script>


 </body>
</html>