<!-- /templates/index.html  -->

{% extends 'index.html' %}
{% block content %}
<script src="static/Chart.min.js"></script>
<script src="static/utils.js"></script>
<pre>     </pre>
<h5>{{today}} {{ curLocation }} 대기오염 현황</h5>
<p><small class="font-weight-light">측정소 : {{ stationLoc }}</small></p>

<div class="container">
  <div class="row">
    <div class="col">
      <p>미세먼지<small class="font-weight-light">(pm10)</small> : {{g_pm10_today}}({{ v_pm10_today }} µg/m3)
    {% if v_pm10_today <= 30 %}
        <div class="img-fluid">
        <img src="static/images/soso.png" >
        {% elif v_pm10_today <= 80 %}
        <img src="static/images/soso.png" >
        {% elif v_pm10_today <=  150 %}
        <img src="static/images/soso.png" >
        {% elif v_pm10_today > 150 %}
        <img src="static/images/soso.png" >
    </div>
        {% endif %}
    </div>

    <div class="col">
      초미세먼지<small class="font-weight-light">(pm25)</small> : {{g_pm25_today}}({{ v_pm25_today }} µg/m3)
    {% if v_pm25_today <= 30 %}
    <div class="img-fluid">
        <img src="static/images/soso.png">
        {% elif v_pm25_today <= 80 %}
        <img src="static/images/soso.png">
        {% elif v_pm25_today <=  150 %}
        <img src="static/images/soso.png">
        {% elif v_pm25_today > 150 %}
        <img src="static/images/soso.png">
    </div>
    {% endif %} </p>
    </div>
  </div>
</div>


<div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<h6>주간 예상 판매량(KF94, KF80, 일반)</h6>
<!-- bar chart canvas element -->
<canvas id="myChart" class='img-responsive' ></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ x_week | safe }},
            datasets: [{
                label: '예상 총 판매량',
                backgroundColor: 'rgb(149, 222, 222)',
                borderColor: 'rgb(149, 222, 222)',
                data: {{ y_pred | safe }},
                // 다음주 총 판매량 나타내줘야함
            }]
        },

        // Configuration options go here
        options: {
        }
    });
var income = document.getElementById("income").getContext("2d");
</script>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<h6>최다 판매 예상 모델<small class="font-weight-light">(KF등급기준)</small></h6>
<div class="row align-items-center">
        <div class="col">
            <img src="static/images/KF94.png" alt="Responsive image">
        </div>
        <div class="col">
            <img src="static/images/KF80.png" alt="Responsive image">
        </div>
        <div class="col">
            <img src="static/images/KF00.png" alt="Responsive image">
        </div>
</div>
{% endblock %}